.bookshop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.book-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.booklist-conatianer{
    background-color: rgba(255, 153, 0, 0.3);
    
}
.booklist-conatianer h1{
    padding: 30px 20px;
}
.buttons{
    padding: 10px;
    margin:10px;
    background-color: orange;
    border: none;
    border-radius: 8px;
}
.buttons:hover{
    background-color: orangered;
}
.randomBook{
    margin: 10px;
    padding: 10px;
}
@media screen and (max-width:600px) {
    .bookshop-container{
        grid-template-columns: repeat(1,1fr);
    }
    .book-container{
        grid-template-columns: repeat(1,1fr);
    }
}